.qualification__container {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    column-gap: 3rem;
}

.timeline__item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 2px;
    height: 60%;
    position: absolute;
    left: .459rem;
    top: 0;
    background-color: var(--title-color-dark);
    transition: .4s;
}

.timeline__item:hover::before {
    height: 100%;
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--title-color-dark);
    border-radius: .25rem;
    background-color: var(--container-color);
    transform: rotate(134deg);
    transition: .4s;
}

.timeline__item:hover .circle__dot {
    background-color: var(--title-color-dark);
}

.timeline__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.timeline__data {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--container-color);
    margin-bottom: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .qualification__container {
        /* display: flex;
        justify-content: center; */
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualification__container {
        display: grid;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .qualification__container {
        justify-content: space-around;
        grid-template-columns: 1fr;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }

}

/* For small devices */
@media screen and (max-width: 350px) {
    .qualification__container {
        justify-content: space-around;
        grid-template-columns: 1fr;
    }

    .qualification__content {
        padding-right: 6rem;
    }
}