.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work__filters span {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.work__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

/* work_images */
.work__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.work__card:hover {
    /* background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1); */
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.work__img {
    width: 100%; /* eklendi */
    width: 295px;
    height: auto; /* set height to auto to maintain aspect ratio */
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    z-index: 0; /* Add this line to ensure work__img is placed below work__tags */
}

.work__img__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0;
}

.work__tags {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* set 3 columns */
    grid-auto-rows: minmax(min-content, max-content); /* set rows to auto */
    grid-gap: 0.5rem; /* add some gap between items */
    justify-content: center;
    align-items: center;
    visibility: hidden; /* initially hidden */
    z-index: 1; /* Add this line to ensure work__tags are placed above work__img */
}

.work__tags img {
    filter: grayscale(1);
    max-width: none;
    color: var(--title-color);
    margin: 0 0.5rem 0.5rem 0; /* changed from 0.25rem */
}
.work__tags img:hover {
    filter: none;
    transform: translateY(-1px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
}

.work__img__container:hover .work__tags {
    visibility: visible; /* show tags on hover */
}


.work__img__container:hover .work__img {
    opacity: 0.2;
}

.work__img__container:not(:hover) .work__tags {
    visibility: hidden; /* hide tags when not hovering */
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.code__demo__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mb-1);
    /* eklendi */
}

.work__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    text-decoration: none;
    transition: all 0.3s ease;
    /* eklendi */
}

.work__button:hover {
    color: var(--title-color);
    border: 1px solid rgba(0, 0, 0, 1);
    /* font-weight: var(--font-semi-bold); */
}

.work__button.fill {
    color: var(--container-color);
    background-color: var(--title-color-dark);
    opacity: 0.8;
}

.work__button.fill:hover {
    opacity: 1;
}

/* .work__button-icon {
    font-size: 1rem;
    transition: .4s
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
}*/

/* Active-Work */
.active-work {
    background-color: var(--title-color);
    color: var(--container-color);
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .work__container {
        gap: 1.25rem;
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: 0.75rem;
    }

    .work__title {
        margin-bottom: 0.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: max-content;
    }
}


@media screen and (max-width: 576px) {
    .work__container {
        grid-template-columns: 1fr;
    }

    .work__img {
        width: 100%;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: 0.25rem;
    }
}